<button (click)="toggleActive()">Add a new geocache</button>
<div *ngIf="this.isActive">
  <h2>New Cache</h2>
  <div class="form-group">
    <label>Cache Creator:</label>
    <input #newCreator>
  </div>

  <h3>Location</h3>
  <span (click)="toggleGpsActive()">Click here to look up lattitude and longitude</span>
  <div *ngIf="this.gpsActive">
    <div class="form-group">
      <label>Enter an address:</label>
      <input #newPhysicalAddress>
    </div>
    <button (click)="getGps(newPhysicalAddress.value)">Search</button>
  </div>


  <div class="form-group">
    <label>Latitude:</label>
    <input #newLat class="form-control">
    <label>Longitude:</label>
    <input #newLon class="form-control">
  </div>

  <span (click)="getLocation(newLat.value, newLon.value)">Click here for recommended location</span>

  <div class="form-group">
    <label>Location:</label>
    <input #newAddress class="form-control" value="{{this.address}}">
  </div>

  <div class="form-group">
    <label>Hint:</label>
    <input #newHint class="form-control">
  </div>
  <button (click)="submitForm(newCreator.value, newAddress.value, newLat.value, newLon.value, newHint.value); newCreator.value=''; newLat.value=''; newLon.value=''; newAddress.value=''; newHint.value=''">ADD</button>
</div>


<p *ngFor="let cache of cacheList | async">by {{cache.creator}} lat: {{cache.lat}} lon: {{cache.lon}} {{cache.hint}} {{cache.address}}</p>
